#submitButton{
    margin-top:20px;
    height:50px;
}
.header{
    background-color: #5294E1;
    color: #283241;
    height:auto;
    padding-top: 20px;
    padding-bottom: 20px; 
    vertical-align:middle;
}
.selectButton{
    width:calc(50% - 5px);
    box-sizing: border-box;
    font-size: 14px;
    background-color: #5294E1;
    min-height:37px;
    border-radius: solid 4px; 
    border: solid 0px #e6e6e6;
}

.messageInput{
    height:120px;
    width:100%;
    font-family: "Open Sans";
    font-size: 15px;
    line-height: 24px;
}

a{color:#5294E1;
}

input{
    border: solid 2px #e6e6e6;
    background-color: #ffffff;
    border-radius: 4px;
    margin-top:8px;
    min-height:48px;
    width:100%;
    padding-left:10px;
    padding-right:10px;
    box-sizing: border-box;
    font-size: 14px;
}
textarea{
    border: solid 2px #e6e6e6;
    border-radius: 4px;
    margin-top:8px;
    min-height:48px;
    width:100%;
    padding:10px;
    box-sizing: border-box;
    
    font-size: 14px;
}
button{
    border: solid 0px;
    border-radius: 4px;
    margin-top:8px;
    min-height:56px;
    width:100%;
    padding-left:10px;
    padding-right:10px;
    box-sizing: border-box;
    font-family: "Open Sans";
    font-size: 16.5px;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #5294E1;
}       

div{
    padding:0 20px 0 20px ;
}

.userName{
    font-weight:500;
}

p{font-family: 'Open Sans', sans-serif;
    margin:0;
    font-weight:400;
    font-size: 12px;    
    color: #283241;
    font-family: "Open Sans";	
    font-size: 14px;	
    line-height: 19px;
}.inputLabel{
    margin-top:20px;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    margin:0;
    color: #283241;
    background-color: #F7FAFF;
}
h1{
    font-family: 'Raleway', sans-serif;
    margin: 10px 0 10px 0; 
    font-family: "Raleway ExtraBold";	
    font-size: 32px;	
    letter-spacing: -0.8px;	
    line-height: 32px;
}
h2{
    margin: 20px 0 20px 0;
    font-weight: 300;
    display:inline;
}
h3{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    vertical-align: center;
    letter-spacing: -0.2px;
}