#submitButton{
    margin-top:20px;
    height:50px;
}
.selectButton{
    width:calc(50% - 5px);
    box-sizing: border-box;
    font-size: 14px;
    background-color: #FFFFFF;
    min-height:37px;
    border-radius: solid 4px; 
    border: solid 2px #e6e6e6;

}
.messageInput{
    height:280px;
    width:100%;

}
a{color:#8C0A84;
}
input{
    border: solid 2px #e6e6e6;
    border-radius: 4px;
    margin-top:8px;
    min-height:48px;
    width:100%;
    padding-left:10px;
    padding-right:10px;
    box-sizing: border-box;
    font-size: 14px;
}
textarea{
    border: solid 2px #e6e6e6;
    border-radius: 4px;
    margin-top:8px;
    min-height:48px;
    width:100%;
    padding:10px;
    box-sizing: border-box;
    font-size: 14px;
}
button{
    border: solid 2px #e6e6e6;
    border-radius: 4px;
    margin-top:8px;
    min-height:40px;
    width:100%;
    padding-left:10px;
    padding-right:10px;
  
    box-sizing: border-box;
    font-size: 14px;
    background-color: #FFFFFF;
}       
div{
    padding:20px;
}
h2{
    margin: 20px 0 20px 0;
    font-weight: 300;
    display:inline;
}
.userName{
    font-weight:500;
}
h3{
    margin: 0px;
    vertical-align: center;
}    
p{
    margin:0;
    font-weight:400;
    font-size: 12px;
}.inputLabel{
    margin-top:20px;
}
body{
    font-family: 'Noto Sans KR', sans-serif;
    margin:0;
    color:#333333
}